
html, body{
padding: 0;
margin: 0;
height: 100%;
width: 100%;
background: black;
color: #FFF;
font-family: 'Do Hyeon', sans-serif;
}

header{
text-align: center;
margin-top: 1%;
}

.Acte1{
display: flex;
flex-flow: wrap;
overflow-y: auto;
height: 100%;
width: 100%;

}

.Scene1{
background-color: rgb(203, 64, 94);
width: 45%;
}

.Scene2{
background-color: rgb(127, 226, 35);
width: 45%;
}

.Scene3{
background-color: rgb(141, 134, 182);
width: 45%;
}


