body{
    background: url("../img/plateau.jpg") no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
   }

article{
    color: black;
    margin-left: 70%;
}

div{
    background: rgba(255, 210, 137, 0.651);
    border-radius: 20px;
    box-shadow: -10px -10px 20px rgba(255, 198, 107, 0.575) inset;
    padding:2px 5px;
    margin:5px 0;
    transition: 0.4s;
}
div:hover{
    background: rgba(255, 198, 107, 0.651);
    transition: 0.4s;
}
p,h1{
    margin: 5px;
    
}