body
{
background-color: rgb(115, 247, 59);
color: black;
margin: 50px;
font-family: Verdana, Geneva, Arial, sans-serif;
font-size: large;
line-height: 120%
}

#Bandeau{
display: flex;
align-items: center;
justify-content: center;
}

#Menusite
{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

#Horraires
{
display: flex;
align-items: center;
justify-content: center;
}

#recettes
{
display: flex;
align-items: center;
justify-content: center;
}

#succes
{
display: flex;
 align-items: center;
justify-content: center;
}

#histoire{
display: flex;
align-items: center;
justify-content: center;
}

#conditions{
display: flex;
align-items: center;
justify-content: center;
}
